body{
    background-color: white;

}
p{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: pink;
    text-align: center;
}
.main_div{
    height: 200px;
    width: 60%;
    background-color: aqua;
}